<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/css/try.css">
        <link rel="stylesheet" 
        href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" 
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" 
        crossorigin="anonymous" />
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
          
        <link href='https://fonts.googleapis.com/css?family=Lato:400,300' rel='stylesheet' type='text/css'>
    </head>

    <body>
        <header th:replace="fragments/base.html::intestazione"></header>
        <div class="jumbotron text-center">
            <h1 class="display-4">Welcome To My Website!</h1>
            <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum necessitatibus perspiciatis cum vitae, modi hic?</p>
            <hr>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, quibusdam.</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Read More</a>
          </div>
      
          <br>
      
      
        </div>
   
            
     <footer th:replace="fragments/base.html::footer"></footer> 
    </body>
</html>